// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field {
  margin: 10px;
}

#error_explanation {
  border: 3px solid red;
}

#notice{
background-color: rgba(0, 250, 0, 0.10);
}


